# Archivos sensibles
.env
.env.*

# Archivos de log
*.log
logs/
**/logs/

# Archivos de bases de datos
*.db
*.sqlite
*.sql
*.dump
postgres-init/
plugins/

# Volúmenes y montajes de Docker
volumes/

tmp/
output/
__pycache__/
*.pyc

# Archivos de sistema
.DS_Store
Thumbs.db

# Airflow
airflow/airflow.db
airflow/airflow.cfg
airflow/unittests.cfg
airflow/logs/
airflow/dags/__pycache__/
airflow/plugins/__pycache__/
airflow/.airflowenv
config/
# Spark
spark-warehouse/
metastore_db/
*.crc

# Jupyter
.ipynb_checkpoints/
checkpoint_postgres/
notebooks/

# VSCode
.vscode/

# Docker
**/.docker-compose.override.yml
docker-compose.override.yml

# Archivos temporales y binarios
*.tar
*.img
*.pid
*.bak
*.swp

# Pytest y testing
.cache/
.tox/
pytest_cache/
.coverage
coverage.xml
htmlcov/

# Carpeta util (solo archivos temporales)
util/*.log
util/*.tmp
util/__pycache__/
utils/